<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
    {{ partial "head.html" . }}
    {{ $aboutTitle := "About" }}
    {{if (eq .Title $aboutTitle) }}
        {{ $bg := .Site.Data.Settings.primary_color}}
        {{ $textColor := .Site.Data.Settings.text_color}}
        <body style="background-color: {{ $bg }}; color: {{ $textColor }};">
            {{ partial "header.html" . }}
            {{ block "main" . }}{{ end }}
        </body>
    {{ else }}
        <body >
            {{ partial "header.html" . }}
            {{ block "main" . }}{{ end }}
        </body>
    {{ end }}
    <script type="application/javascript"> var piioData = { appKey: 'nvuosw', domain: 'https://chasedooley.com' } </script>
    <script>
        (function(i,m,a,g,e) {
              e = i.getElementsByTagName(m)[0], (g = i.createElement(m)).src = "//pcdn.piiojs.com/"+a+"/image.min.js",
              g.onerror = function() {
                (g = i.createElement(m)).src = "https://fs.piio.co/image-failover.min.js",
                 e.parentNode.insertBefore(g, e);
    }, e.parentNode.insertBefore(g, e);
    }(document, "script", "nvuosw"));</script>
    
    <script src="//js.piio.co/nvuosw/piio.min.js"></script>
</html>
